<%- include('partials/header.ejs') %>


	<%- include('./partials/msg.ejs') %>
		<h1>Conteúdo do Site</h1>

		<p>Bem-vindo ao nosso site! Aqui você encontrará informações sobre nossos produtos e serviços.</p>


		<p>Um sistema de ERP, ou Enterprise Resource Planning, é uma solução de software que integra e gerencia as
			principais funções de uma empresa, como finanças, contabilidade, recursos humanos, vendas, compras, estoque
			e produção. Ele fornece uma visão abrangente e em tempo real das operações da empresa, permitindo uma melhor
			tomada de decisões e eficiência nos processos.</p>

		<p>Um sistema de ERP é projetado para centralizar e automatizar as atividades empresariais, eliminando a
			necessidade de múltiplos sistemas isolados e fluxos de trabalho manuais. Ele permite que as informações
			sejam compartilhadas entre os diferentes departamentos, melhorando a comunicação interna e a colaboração
			entre as equipes.</p>

		<p>Além disso, um sistema de ERP oferece recursos avançados de relatórios e análises, permitindo que os gestores
			tenham uma visão detalhada do desempenho da empresa. Isso facilita a identificação de áreas de melhoria, a
			otimização de processos e a identificação de oportunidades de crescimento.</p>

		<p>Um sistema de ERP também pode ser personalizado de acordo com as necessidades específicas de uma empresa. Ele
			pode ser adaptado para atender a requisitos regulatórios, fluxos de trabalho específicos do setor e
			integração com outros sistemas existentes. Com a implementação de um sistema de ERP eficiente, as empresas
			podem melhorar sua eficiência operacional, reduzir custos, aumentar a produtividade e impulsionar o

			
			crescimento.</p>



	






		<dir style="display: none;">

			<img src="/img/avanco-rapido.gif" style="width: 30px; height: 30px;">
			<button type="button" class="btn btn-outline-success btn-sm">Visualizar</button>

			<img src="/img/caminhao.gif" style="width: 30px; height: 30px;">

			<p>https://icons.getbootstrap.com/</p>

			<i class="bi bi-plus-square-dotted"> </i>

			<i class="bi bi-plus-square-dotted">Novo </i>
			<span class="bi bi-box"> Produto</span>
			<span class="bi bi-person">Cliente</span>
			<i class="bi bi-search">Buscar</i>



			<i class="bi bi-floppy"></i>
			<i class="bi bi-pencil-square">editar</i>
			<i class="bi bi-people">clientes</i>
			<i class="bi bi-person-plus-fill">adicionar cliente</i>
			<i class="bi bi-backspace">Excluir</i>
			<i class="bi bi-bag-plus"></i>
			<i class="bi bi-boxes"></i>
			<i class="bi bi-calendar3"></i>
			<i class="bi bi-credit-card"></i>
			<i class="bi bi-currency-exchange"></i>
			<i class="bi bi-trash">Lixeira</i>
			<i class="bi bi-cart-check">Carrinho</i>
			<i class="bi bi-cart-check">carrinho</i>
			<i class="bi bi-eye"> Olho</i>





			<!-- Botões -->
			<button type="button" class="btn btn-primary">Botão Primário</button>
			<button type="button" class="btn btn-secondary">Botão Secundário</button>
			<button type="button" class="btn btn-success">Botão de Sucesso</button>
			<button type="button" class="btn btn-info">Botão de Informação</button>
			<button type="button" class="btn btn-warning">Botão de Aviso</button>
			<button type="button" class="btn btn-danger">Botão de Perigo</button>
			<button type="button" class="btn btn-link">Botão Link</button>
			<button type="button" class="btn btn-default">Botão Padrão</button>

			<!-- Ícones -->
			<button type="button" class="btn btn-primary"><i class="fas fa-home"></i> Início</button>
			<button type="button" class="btn btn-secondary"><i class="fas fa-search"></i> Pesquisar</button>
			<button type="button" class="btn btn-success"><i class="fas fa-check"></i> Confirmar</button>
			<button type="button" class="btn btn-info"><i class="fas fa-info-circle"></i> Informações</button>
			<button type="button" class="btn btn-warning"><i class="fas fa-exclamation-triangle"></i> Aviso</button>
			<button type="button" class="btn btn-danger"><i class="fas fa-times"></i> Fechar</button>
			<button type="button" class="btn btn-link"><i class="fas fa-external-link-alt"></i> Abrir Link</button>
			<button type="button" class="btn btn-default"><i class="fas fa-cog"></i> Configurações</button>

			<button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Adicionar Produto</button>

			<button type="submit" class="btn btn-success"><i class="fas fa-user-plus"></i> Adicionar Cliente</button>

			<br>





			<button type="button" class="btn btn-outline-primary">Primary</button>
			<button type="button" class="btn btn-outline-secondary">Secondary</button>
			<button type="button" class="btn btn-outline-success">Success</button>
			<button type="button" class="btn btn-outline-danger">Danger</button>
			<button type="button" class="btn btn-outline-warning">Warning</button>
			<button type="button" class="btn btn-outline-info">Info</button>
			<button type="button" class="btn btn-outline-light">Light</button>
			<button type="button" class="btn btn-outline-dark">Dark</button>

			<br>
			</br>

			<button type="button" class="btn btn-success btn-sm">Small button</button>
			<button type="button" class="btn btn-info btn-sm">Small button</button>

			</br>


			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				You should check in on some of those fields below.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>

			<div class="alert alert-primary alert-dismissible fade show" role="alert">
				You should check in on some of those fields below.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>

			<div class="alert alert-success alert-dismissible fade show" role="alert">
				You should check in on some of those fields below.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>

			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				You should check in on some of those fields below.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>

			</br>

			<div class="container">
				<div class="row">
					<div class="col">
						<div class="p-3 bg-light">Div 1</div>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col">
						<div class="p-3 bg-light">Div 2</div>
					</div>
				</div>
			</div>

			<button type="button" class="btn btn-outline-dark">Dark</button>
			<style>
				@media screen and (max-width: 600px) {
					.btn btn-outline-dark {
						display: none;
					}
				}
			</style>
		</dir>

		https://www.loginradius.com/blog/engineering/google-authentication-with-nodejs-and-passportjs/


		<%- include('partials/footer.ejs') %>