

<%- include('./partials/header.ejs') %>



<form method="post" action="/teste/save">

  <input name="nome" type="text">
  <button type="submit">salvar</button>


</form>
<%- include('./partials/footer.ejs') %>